.content {
    padding: 20px;
}

.footer {
    background: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    /* Thu nhỏ border */
    border-color: #ddd;
}

.justify-content-between {
    justify-content: space-between !important;
}

.header {
    background: #FFFFFF;
    border: 1px solid #ddd;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999
}

.header_logo {
    width: 299px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
    transition: all 0.2s;
}

.header_logo--collapse {
    width: 79px;
    transition: all 0.2s;

}

.header_nav {
    padding: 10px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    flex: 1;
}

.header_nav-left {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 30px;
}

.header_collapse {
    margin-right: 30px;
    cursor: pointer;
}

.header_search {
    cursor: pointer;
}

.sider {
    border-right: 1px solid #ddd;
}